schemas/eng_schema.rnc

start = surah
surah = element surah { metadata, body }
metadata = element metadata { title, editor, translator, source }
title = element title { text }
editor = element editor { text }
translator = element translator { text }
source = element source { text }
body = element body { ayah+ }
ayah = element ayah {n, mixed{device*}}
n = attribute n {text}
device = element device {type, text, mixed{device*}}
type = attribute type {"phatic"|"praise"|"personification"|"repetition" | "simile" | "metaphor" | "irony" | "rhetoricalQuestion" | "parallelism" | "anaphora" | "allusion" | "contrast" | "imagery"}
